// Genera CSS, fuentes estan en partials/

@import "partials/normalize";
@import "partials/base";

* {
    @include box-sizing(border-box);
}

body {
    background-color: #111; font-family: $font-sans; text-align: center;
}

.ui-bati-btn {
    @include border-radius(.5em);
    @include box-shadow(5px 5px 0 #699);
    background: /*url(../img/play.png)*/ no-repeat 50% 50% #6480a3; 
    background-size: 79px 95px; border: 8px solid white; color: #FFF; 
    cursor: pointer; display: block; font-size: 2em; margin: 0 auto .5em; 
    padding: .5em 0; text-decoration: none; width: 70%;

    @include breakpoint($baby-bear) {
        background-image: none; font-size: 4em; text-align: center; 
        text-indent: 0;
    }

    &:hover {
        background-color: #808C99; 
    }
    &:visited {
        color: #FFF;
    }

    b {
        font-size: 1em;
    }
}

.container {
    bottom: 0; height: 100%; left: 0; margin: auto;
     overflow: auto; position: relative; right: 0; top: 0;
}

.title {
    color: $hotpink; font-weight: 700; font-size: 5em;
    letter-spacing: 4px; line-height: 1em; margin: .5em 0; 
    text-transform: uppercase;
}

.scare {
    @include rotate(15deg);
    color: #fff; font-size: 3.5em; position: absolute; right: 0; top: -10px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $hotpink, 0 0 70px $hotpink, 0 0 80px $hotpink, 0 0 100px $hotpink, 0 0 150px $hotpink;
}

a {
    &:link,
    &:visited {
        color: $hotpink;
    }
    &:hover {
        text-decoration: none;
    }
}


p {
    color: rgba(255, 255, 255, 0.75);
}

.holder {
    margin: 0 auto; padding: 1em; position: relative; 
    width: 70%;
}

#getting-started {
    color: $hotpink;

    b {
        color: rgba(255, 255, 255, 1); display: block; font-size: 2.5em;
    }
    span {
        @include inline-block;
        padding: 10px; text-align: center;
    }
}